#include <iostream>
using namespace std;

#C++ program to find size of integer float double and Char in your system
int main() 
{    
    cout << "Size of char: " << sizeof(char) << " byte" << endl;
    cout << "Size of int: " << sizeof(int) << " bytes" << endl;
    cout << "Size of float: " << sizeof(float) << " bytes" << endl;
    cout << "Size of double: " << sizeof(double) << " bytes" << endl;

    return 0;
}

#C++ program to find the product of two numbers entered by the user
int main() 
{
    float a, b, product;
    cout << "Enter two Numbers\n";
    cin >> a >> b;
    product = a*b;
    cout << "Product = " << product;
    return 0;
}
